@(fm:Form[forms.FormComment], coms:List[Comment])

@implicitFieldConstructor = @{ helper.FieldConstructor(parts.InputComment.render) }

@colorStyle(c:Comment) = {
	color:@{c.getColor2String()};
    text-shadow:
        0 1px 0 @{c.getColor1String()},
        1px 0 0 @{c.getColor1String()},
        0 -1px 0 @{c.getColor1String()},
        -1px 0 0 @{c.getColor1String()},
        -1px -1px 0 @{c.getColor1String()},
        1px -1px 0 @{c.getColor1String()},
        -1px 1px 0 @{c.getColor1String()},
        1px 1px 0 @{c.getColor1String()},
        0px 0px 30px @{c.getColor3String()}
        ;
}

@main("Lake of Words") {

  <h1 class="text-center" style="font-size:50px;">Neutral</h1>
    
  <form class="form-inline text-center" role="form" style="margin-top:3.0em;" action="@routes.Application.post()" method="POST">
    @helper.inputText(fm("comment"), '_label->"Comment", '_help -> "", 'class->"form-control input-sm", 'placeholder->"Your comment", 'style->"width:300px")
    <button type="submit" class="btn btn-primary">Throw</button>
  </form>
  
  <div class="container text-center" style="margin-top:3.0em;">
    @for((c, i) <- coms.zipWithIndex) {
      <p style="font-size:@{Comment.getSizeByIndex(i)}px;@colorStyle(c)">@c.text</p>
    }
  </div>

}
